.workoutGif {
    width: 550px;
    height: 550px;
    padding: 10px;   
}
body {
    background-color: navy;
    color: white;
    font-size: large;
    text-align: center;
}
a {
    color: orangered;
}
.center {
 list-style-position: inside;
}

ol.center li {
 text-align: center;
 }

.timer-function {
    position: fixed;
    border: 1px solid white;
    color: black;
    background-color: white;
    padding: 10px;
}
.set-number {
    font-weight: bold;
}
.content {
  display: grid;
  place-items: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .gif-description {background: red;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .gif-description {background: green;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .gif-description {background: blue;}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .gif-description {background: orange;}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .gif-description {background: pink;}
}