body {
  background-color: navy;
  color: white;
  font-size: large;
  text-align: center;
}

a {
  color: orangered;
}

ol.center li {
  text-align: center;
}

.center {
  list-style-position: inside;
}

.workoutGif {
  width: 550px;
  height: 550px;
  padding: 10px;   
}

#stopwatch {
  position: fixed;
  width: 400px;
  height: 250px;
  color: black;
  background-color: white;
}

.row {
  display: flex;
}

.column {
  flex: 50% ;
}

.set-number {
  font-weight: bold;
}

.content {
  display: grid;
  place-items: center;
  padding: 50px;
}

/* Mixin's */  
@mixin transition {
-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
}

@mixin corners ($radius) {
-moz-border-radius: $radius;
-webkit-border-radius: $radius;
border-radius: $radius; 
-khtml-border-radius: $radius; 
}

h1{
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 2.6em;
  text-transform: uppercase;
}

#seconds, #tens{
  font-size:2em;
}

button{
@include corners (5px);
background: lightgrey;
border: solid 1px white;
text-decoration:none;
cursor: pointer;
font-size: 1.2em;
padding: 10px;
width: 100px;
margin: 8px;
 outline: none;
  &:hover{
	@include transition;
	background: white;
	border: solid 1px  white;
	color: base-color;
	}
}


