.workoutGif {
    width: 550px;
    height: 550px;
    padding: 10px;   
}
body {
    background-color: navy;
    color: white;
    font-size: large;
    text-align: center;
}
a {
    color: orangered;
}
.center {
 list-style-position: inside;
}

ol.center li {
 text-align: center;
 }

.container {
    position: fixed;
    bottom: 0;
    right: 0;
    color: white;
    background-color: transparent;
    padding: 10px;
}
.set-number {
    font-weight: bold;
}
.content {
  display: grid;
  place-items: center;
}


/* Mixin's */  
@mixin transition {
-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
}
@mixin corners ($radius) {
-moz-border-radius: $radius;
-webkit-border-radius: $radius;
border-radius: $radius; 
-khtml-border-radius: $radius; 
}

h1{
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 2.6em;
  text-transform: uppercase;
}

#seconds, #tens{
  font-size:2em;
}

button{
@include corners (5px);
background: lightgrey;
border: solid 1px white;
text-decoration:none;
cursor: pointer;
font-size: 1.2em;
padding: 10px;
width: 100px;
margin: 8px;
 outline: none;
  &:hover{
	@include transition;
	background: white;
	border: solid 1px  white;
	color: base-color;
	}
}


